@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
:root {
  --hard-color: rgb(30, 64, 175);
  --light-color: rgb(129, 140, 248);
  --text-white: rgb(224, 231, 255);
}

.App {
  text-align: center;
}

body {
  background-color: var(--light-color);
  color: var(--text-white);
  font-family: "Pangolin", cursive;
}

.taskHeading,
.taskName {
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 4px 3px;
  margin-bottom: 10px;
  border-radius: 10%;
  font-family: "Pangolin", cursive;
}

.addTaskbtn,
.groupTaskbtn {
  font-family: "Pangolin", cursive;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 3px 8px;
  cursor: pointer;
  margin-bottom: 5px;
  color: var(--text-white);
  font-weight: bold;
  background-color: var(--hard-color);
}

.allTask,
.taskDone,
.groupTask {
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 2px 2px;
  margin-top: 5px;
}

.allTask li {
  padding: 2px 2px;
}

.fontAwesome {
  padding: 1px 15px;
  cursor: pointer;
  color: var(--hard-color);
}

.taskDone li {
  padding: 2px 2px;
}
.groupTask {
  padding: 2px 2px;
  width: 100%;
  margin: 2px 2px;
  /* clip-path: polygon(0 0, 100% 0, 76% 100%, 22% 100%); */
  background-image: url(/bucket.jpg);
}
.finalCategory {
  display: inline-block;
  margin-top: 7px;
  margin: 2px 15px;
  /* margin-left: 50px; */
  padding: 2px 2px;
  vertical-align: top;

  /* height: 30px; */
  position: relative;
  background-image: url(/);
  /* left: 10px; */
}
.categoryName {
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
  color: var(--hard-color);
}
.categoryList-Li {
  text-align: left;
}
