@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
:root {
  --hard-color: rgb(79, 70, 229);
  --light-color: rgb(129, 140, 248);
  --text-white: rgb(224, 231, 255);
}

.App {
  text-align: center;
}
body {
  background-color: var(--light-color);
  color: var(--text-white);
  font-family: "Pangolin", cursive;
}

.taskHeading,
.taskName {
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 4px 3px;
  margin-bottom: 10px;
  border-radius: 10%;
}

.addTaskbtn,
.groupTaskbtn {
  font-family: "Pangolin", cursive;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 3px 8px;
  cursor: pointer;
  margin-bottom: 5px;
  color: var(--text-white);
  font-weight: bold;
  background-color: var(--hard-color);
}

.allTask,
.taskDone,
.groupTask {
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 2px 2px;
  margin-top: 5px;
}

.allTask li {
  padding: 2px 2px;
}

.fontAwesome {
  padding: 1px 15px;
  cursor: pointer;
}

.taskDone li {
  /* list-style: none; */
  padding: 2px 2px;
}
.groupTask li {
  /* list-style: none; */
  padding: 2px 2px;
}
.finalCategory {
  display: inline-block;
  margin-top: 7px;
  padding: 2px 2px;
  /* height: 30px; */
  vertical-align: top;
  position: absolute;
  left: 10px;

  /* color: var(--hard-color); */
}
.categoryName {
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
}
.categoryList-Li {
  text-align: left;
}
