.App {
  font-family: sans-serif;
  text-align: center;
}
.taskHeading,
.taskName {
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 4px 3px;
  margin-bottom: 10px;
  border-radius: 10%;
}

.addTaskbtn,
.groupTaskbtn {
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 2px 6px;
  cursor: pointer;
  margin-bottom: 5px;
}

.allTask,
.taskDone,
.groupTask {
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 2px 2px;
  margin-top: 5px;
}

.allTask li {
  padding: 2px 2px;
}

.fontAwesome {
  padding: 1px 15px;
  cursor: pointer;
}

.taskDone li {
  /* list-style: none; */
  padding: 2px 2px;
}
.groupTask li {
  /* list-style: none; */
  padding: 2px 2px;
}
.finalCategory {
  display: inline-block;
  margin: 5px 15px;
  padding: 2px 2px;
  /* height: 30px; */
  vertical-align: top;
  /* border: 2.5px solid black; */
  background-color: lightblue;
  /* color: salmon; */
}
.categoryName {
  font-weight: bold;
  font-size: large;
}
.categoryList-Li {
  text-align: left;
}
